.eyes {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .circle {
      width: 1.2vw;
      height: 1.2vw;
      border: 0.2vw solid black;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      margin: 0 0.9vw; 
      background-color: white;
  
      .point {
        width: 0.4vw;
        height:0.4vw;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  