.contact{
    position: relative;
    height: 40vh;
    border: 2px solid green;
}

.socialbar{
    width: 100vw;
    height: 10vh;
    position: absolute;
    border: 2px solid blue;
    bottom: 0vh;
}